body {
    background-color: rgb(204,204,204);
}

page {
    position: relative;
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: .5cm;
    margin-top: .5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}

#dropzone {
    position: relative;
    border: 1px dotted #000;
    color: #000;
    /*font: bold 24px/200px arial;*/
    /*height: 3cm;*/
    height: auto;
    min-height: 2cm;
    max-height: 5cm;
    text-align: center;
    width: 100%;
    background: lightskyblue;
}

#dropzone.hover {
    border: 10px solid #FE5;
    color: #FE5;
}

#dropzone.dropped {
    background: transparent;
    border: none;
}

#dropzone div {
    text-align: center;
    font-size: .5cm;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*height: 3cm;*/
    height: auto;
    min-height: 2cm;
    max-height: 5cm;
    margin: 0;

}

#dropzone img {
    /*border-radius: 10px;*/
    vertical-align: middle;
    max-width: 100%;
    /*max-height: 3cm;*/
    max-height: 5cm;
    object-fit: cover;
}

#dropzone [type="file"] {
    width: 100%;
    min-height: 2cm;
    max-height: 5cm;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.details .row,
.sender .row,
.receiver .row,
.qr-block .row {
    margin: 0;
    padding: 10px 0;
}
.details .row .type {
    float: right;
    padding-bottom: 5%;
    padding-right: 10px;
}
.details .row .type a,
.details .row .type p,
.sender .row .sender-name,
.sender .row p,
.receiver .row .receiver-name,
.receiver .row p,
.qr-block .row .select-path,
.qr-block .row .qr-code {
   display: inline-block;
}
.details .row .type .editable-unsaved,
.sender .row .editable-unsaved,
.receiver .row .editable-unsaved,
.title .editable-unsaved,
.description .editable-unsaved {
    border-bottom: none;
    color: black;
    font-weight: normal;
}
.details .row .type .editable-unsaved:hover,
.details .row .type .editable-unsaved:focus,
.sender .row .editable-unsaved:hover,
.sender .row .editable-unsaved:focus,
.receiver .row .editable-unsaved:hover,
.receiver .row .editable-unsaved:focus,
.title .editable-unsaved:hover,
.title .editable-unsaved:focus,
.description .editable-unsaved:hover,
.description .editable-unsaved:focus {
    border-bottom: dashed 1px #0088cc;
    color: #337ab7;
}
.type-input,
.number-input,
.data-input {
    width: 240px !important;
}
.sender-input,
.receiver-input,
.doc-title-input,
.doc-description-input {
    width: 245px !important;;
}

.sender .row .sender-title,
.receiver .row .receiver-title {
    padding-left: 10%;
}
.sender .row .sender-name,
.receiver .row .receiver-name {
     width: 70%;
     border-bottom: 1px solid black;
}
.sender .row .sender-name a,
.receiver .row .receiver-name a {
     width: auto;
     border-bottom: none;
}
.sender .row .sender-title,
.receiver .row .receiver-title {
    float: left;
    padding: 0;
    width: 20%;
}
.sender .row .sender-name,
.receiver .row .receiver-name {
    padding: 0;
}

.title {
    padding: 0 10%;
    padding-top: 25%;
    text-align: center;
}
.description     {
    padding-top: 5%;
    text-align: center;
}
.qr-block {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#qrcode {
    width: 80px;
    height: 80px;
    float: right;
    right: 80px;
    bottom: 60px;
    /*margin: 0 5cm;*/
    /*left: calc(-50% + 64px);*/
    position: relative;
}
.qr-block .row .select-path {
     width: calc(100% - 260px);
    margin-left: 10px;
 }
.qr-block .row .select-path input {
    width: 100%;
}

/* for print */
@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
    .qr-block .row .select-path {
        display: none;
    }
}
/* IE10+ CSS styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #dropzone div i {
        padding-top: 0.4cm;
    }
}